language: csharp
mono: none
dist: xenial
dotnet: 3.0

env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    - DOTNET_CLI_TELEMETRY_OPTOUT: 1
    - secure: "BbPM7rtPikWqvTGh0yktHF5RkmGDspioOHp4OhS7l9fTPdB3AlWkPdQzwq57xvIsQwE8E6DKQ1CmySnAvui91//cwu3nGFmz2LWxjxb68U4eGEBlYEpxHQpgBRvFlpHFBW1zZ2BEwqDRwoKSr1bvoSOcYJzshFn+sMswf0618jvZ4wUitLvGrCXcPOErHY1teQHBl28Rjeb3p2LFim8NKZ4IMxv+sRnnIwqwQNfWROhnkkFIiQ9w00H1VwWhHTOAPdG6H8YPKi/BYRiW5g8ieRCxzKCF5qFafJLXGXiqYnCztmYtGRohhQ1dUUhjvLeRNLKb7Zzlzu5Br4xVseV0cPuBodnDUIdoy6cusGurv7wWXO/fzSz77U+bEqfH4ni+BYkNKC0vaFUn3SG1rvslthuf2nT0ZL3sNpauWMFWYiu/Hv1f2ne/xuS6pOmpuJX7YjVg8o61EyR4gdmN8o8W1xxTj35cz9WPiz0lYYavXMo2oi1ycU/ktdi40C6wXf62drlcDy4U7zDiZ2KLyQHXMfK7+j/yn8ThCAmNslhKGT20E0xr9WhpJjikf4yP38yl4CFmUWqgArB79Zv5hTMuUzIjvaIw//kBbGDArommSYR6jJNKMdFDdnWcs8b2HbQZ2mBJhxaVB4QWa2qn+R1GC52I/B0xFxLbJa4WxTyRJco="

script:
  - VERSION_SUFFIX="$(date +"%y%m%d")-$TRAVIS_BUILD_NUMBER"
  - dotnet pack src/Tmds.Ssh --configuration Release --version-suffix $VERSION_SUFFIX --output .

after_success:
  - 'if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
  curl -H "X-NuGet-ApiKey: $NUGET_APIKEY" -T Tmds.Ssh.*.nupkg https://www.myget.org/F/tmds/api/v2/package ;
     fi'
