language: csharp
mono: none
dotnet: 5.0 # .NET version
dist: focal

services:
  - docker

addons:
  apt:
    packages:
    - libssh-4

env:
  global:
    # NuGetApiKey
    secure: Swd/FT98UYjlj2u3z/x5mAxbCKRIVSoBksF3w6mWbrKSMHR5Rf951Qs+gAjXZoSw6OTcw5rM/HegWRlVXSQwMI1iC46C/bljr9gYPGSrUCDdtIyMGyUoWCOpEfeJq/L+51GJ5Nij0bmiharXoF8f5juL2wjkk1Mt4arZLglXhFsSrMIy6kG31l0KdB6z0FVJESq/pKkSnyEf5+xwNlCj+5mvhThYwJ29yVSM7wXBpDfLMb7XEKSadjcsBZy42iab+FBPACbkFIPLma/K5+h/gF7c5WJhoUwe7GONoNzsS3u7c4nSYcZERL90n3LRuGZtzD5oOWwrfT+xwlz+WBF39OA/GMKsSRRLME+aQUKtnXkmwKQhvmFRHW1e1pQv7hBS96wLlE9apUw7axFU++d5094WnhPm1+0p5EFq95yhQB6MJS0ajfUP1WO62E7Zuxae0gQxUYKv8JMKVm/ATCxhRDh0Fx/3NLgo020cZWIxU9+kc7azGG0sDFi0k4/Ctq11VPnAYLOtDaCbtQ6w91NijPxBG5iyHMcJHKjmzj7HbwiJcLbZw3NtffgIktCjXxt6gV7GbJUP7Q+FDSDeQyo0XwR0sjcfUGTgoBMvbYrIQgr2Y8XZFzgZ/q3yv4W1uT6WXBH8v5cTax74qG9K+LxXPEoySRhi70E6axUuaAlPDG8=


script:
  - dotnet build
  - dotnet test
  - src/libssh.win-x64/build.sh

deploy:
  - provider: script
    edge: true
    script: dotnet msbuild -t:PushPackages
    on:
      all_branches: true
      condition: $TRAVIS_BRANCH == "main" || -n $TRAVIS_TAG
  - provider: releases
    edge: true
    file: artifacts/packages/Release/*.nupkg
    token:
      # Github 'Personal access token' with 'pubic_repo' scope.
      secure: "H1zrGCZOcMZlZd58MOI2QnGEO8VeIsENX0rFy9hZsnAJRpKQPyRtTCI+ZMxrREgubgqz9V2HTcm5hpGzKFWZd38A1yGZbBoEkLQ8Egpww95WCx4j5o7cmgiCOk2h44dsPbs8T5DUrbQkzxQoIBvSvGgeb/B5uuvioSy3LSL8AzuZ8IXqLVSmVCSL+hXuSP6OZXBSI+R2Gm4jyZHlYfUlPY1ao71YBCYZHSHMV8grebYtDOqE5V0B3zIz+sGOUWse0A0afydkyqzSBfrbqkPrHh6UMPnCbAOl6cV/zKLvCOXKQiy8F56FzJPayUES77mp99c66NVdtnezJc3ig9E+uDGq7MRRu1jiU8N9cF3mYPpBxxLkiJnjW+hR6GntfTX2QSX0QT+5XM2yJaPjc8hImfwINvj0l+EIFleFBIoJIqYLUeK36V0SO+UEHE7Keo53sHG4tRMzTbVaXahvQta4L2tXdr7o0ybH73K+eF8ymIRScZt0qW5pOF2fVxk7b7O8/FykMc1wZGwPKXQ+vuxM8Kr+nwRbT37q8+NUD7mSTfUuGUUVFKPxurQHt19AEGOmi9ANRPRjhHt+soxSV+kzcsUFIT3oXwK9YC2/tOyWuOyE2kAR963d+vrJ1lw56VW6dydF0euuOUNvkoErilHIgmGKMsPNAqtbaYo9SI7muQc="
    draft: true
    on:
      tags: true
