name: Build
on: [push, pull_request ]
jobs:
  build:
    runs-on: ubuntu-24.04

    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      DOTNET_CLI_TELEMETRY_OPTOUT: 1

    steps:
    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          9.0.x
        dotnet-quality: 'preview'

    - name: Fetch sources
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install Kerberos libs
      run: |
        sudo apt-get update

        export DEBIAN_FRONTEND=noninteractive
        sudo -E apt-get install -y krb5-user

    - name: Run tests
      run: |
        export MSBUILDENSURESTDOUTFORTASKPROCESSES=1
        export MSBUILDDISABLENODEREUSE=1
        dotnet test test/Tmds.Ssh.Tests -f net9.0 --filter ExplicitCredential

    - name: Build packages
      run: |
        VERSION_SUFFIX="${{ github.run_number }}-${{ github.sha }}"
        dotnet pack src/Tmds.Ssh --configuration Release --output src/Tmds.Ssh /p:VersionSuffix="$VERSION_SUFFIX"

    - name: Publish packages
      run: |
        dotnet nuget push -s https://www.myget.org/F/tmds/api/v2/package -k "${{ secrets.NUGET_APIKEY }}" src/Tmds.Ssh/*.nupkg
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
